<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="TcpPort" value="8080"/>
        <add key="TcpIpAddress" value="192.168.42.20"/>
		<add key="ModbusIpAddress" value="192.168.42.190"/>
		<add key="ModbusPort" value="502"/>
		<add key="DefaultTemplatePath" value="文档1.btw"/>
    </appSettings>
</configuration>
